.menuButton {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000;
  padding: 10px 20px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.store {

  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.3s ease;
  overflow-y: auto; /* Ensure content is scrollable */
  color: black; /* Ensure text color is visible */
}

.store.open {
  right: 0;
}

@media (min-width: 800px) {
  .store {
    width: 800px;
  }
}
